.button {
  position: relative;
  width: 180px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  background-color: #8184f8;
  border-radius: 5px;
  overflow: hidden;
}

.button, .button__icon, .button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(22px);
  color: #fff;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(140px);
  height: 100%;
  width: 39px;
  background-color: #8184f8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.button:hover {
  background: #8184f8;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(15px);
}

.button:active .button__icon {
  background-color: #8184f8;
}

.button:active {
  border: 1px solid #8184f8;
}